body {
  background-color: #111111;
  color: #d3d3d3;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

a {
  color: cyan;
}

a:visited {
  color: darkcyan;
}

.mainButton {
  width: 25%;
  height: 25%;
  border: 0px;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 12.5%;
}

#subtitle {
  color: #888888;
  font-size: 14px;
  margin-top: -16px;
  text-align: center;
}

.buttonContainer1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 50%;
  transition: opacity .3s ease-out;
}

.buttonContainer1:hover {
  opacity: 70%;
}

.buttonContainer2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0%;
  transition: opacity .3s ease-out;
}

.buttonContainer2:hover {
  opacity: 70%;
}


#playButton {
  background: url(play-button.png) no-repeat;
  background-size: cover;
  left: 37.5%;
}

#stopButton {
  background: url(stop-button.png) no-repeat;
  background-size: cover;
  right: 18.75%;
  display: none;
}

#pauseButton {
  background: url(pause-button.png) no-repeat;
  background-size: cover;
  left: 18.75%;
  display: none;
}


#mainContainer {
  position: relative;
  width: 512;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 512px) { #mainContainer { width: 100%; } }

#visuals {
  width: 100%;
}

#textContent {
  margin: 1em;
}

#updated {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
}